/**** Header animations ****/
@keyframes settOpen {
	0% { background: url('../img/header/settings.svg') center center no-repeat; background-size: contain; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
	50% { background: url('../img/header/settings.svg') center center no-repeat; background-size: contain; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	50.001% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	100% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
}
@keyframes settClose {
	0% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
	50% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	50.001% { background: url('../img/header/settings.svg') center center no-repeat; background-size: contain; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	100% { background: url('../img/header/settings.svg') center center no-repeat; background-size: contain; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
}
@keyframes newsOpen {
	0% { background: url('../img/header/news.svg') center center no-repeat; background-size: 80%; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
	50% { background: url('../img/header/news.svg') center center no-repeat; background-size: 80%; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	50.001% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	100% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
}
@keyframes newsClose {
	0% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
	50% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	50.001% { background: url('../img/header/news.svg') center center no-repeat; background-size: 80%; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	100% { background: url('../img/header/news.svg') center center no-repeat; background-size: 80%; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
}

/**** Footer buttons animations ****/
@keyframes iconShake {
	0% { transform: translateX(0px); }
	60% { transform: translateX(-13px); }
	70% { transform: translateX(10px); }
	85% { transform: translateX(-7px); }
	100% { transform: translateX(0px); }
}
@keyframes textShake {
	0% { transform: translateX(0px); }
	60% { transform: translateX(13px); }
	70% { transform: translateX(-10px); }
	85% { transform: translateX(7px); }
	100% { transform: translateX(0px); }
}