/**** Header animations ****/
@keyframes settOpen {
	0% { background: url('../img/header/settings.svg') center center no-repeat; background-size: contain; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
	50% { background: url('../img/header/settings.svg') center center no-repeat; background-size: contain; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	50.001% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	100% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
}
@keyframes settClose {
	0% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
	50% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	50.001% { background: url('../img/header/settings.svg') center center no-repeat; background-size: contain; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	100% { background: url('../img/header/settings.svg') center center no-repeat; background-size: contain; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
}
@keyframes newsOpen {
	0% { background: url('../img/header/news.svg') center center no-repeat; background-size: 80%; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
	50% { background: url('../img/header/news.svg') center center no-repeat; background-size: 80%; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	50.001% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	100% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
}
@keyframes newsClose {
	0% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
	50% { background: url('../img/header/close_btn.svg') center center no-repeat; background-size: 60%; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	50.001% { background: url('../img/header/news.svg') center center no-repeat; background-size: 80%; transform: translate(-50%, -50%) rotate(360deg) scale(0); }
	100% { background: url('../img/header/news.svg') center center no-repeat; background-size: 80%; transform: translate(-50%, -50%) rotate(0deg) scale(1); }
}

/**** Footer buttons animations ****/
@keyframes iconShake {
	0% { transform: translateX(0px); }
	60% { transform: translateX(-13px); }
	70% { transform: translateX(10px); }
	85% { transform: translateX(-7px); }
	100% { transform: translateX(0px); }
}
@keyframes textShake {
	0% { transform: translateX(0px); }
	60% { transform: translateX(13px); }
	70% { transform: translateX(-10px); }
	85% { transform: translateX(7px); }
	100% { transform: translateX(0px); }
}

@keyframes houseButtonsBounce {
	0% {
		transform: scale(0);
	}
	75% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes getCoins_opacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes getCoins_translate {
	0% {
		opacity: 1; transform: translateY(0);
	}
	100% {
		opacity: 0; transform: translateY(-30px);
	}
}

@keyframes coinRotateAnimation {
	0% {background-position: -80px 0px;}
	3.44827999999% {background-position: -80px 0px;}
	3.44828% {background-position: -240px -240px;}
	6.89654999999% {background-position: -240px -240px;}
	6.89655% {background-position: 0px -80px;}
	10.34482999999% {background-position: 0px -80px;}
	10.34483% {background-position: -80px -80px;}
	13.79309999999% {background-position: -80px -80px;}
	13.7931% {background-position: -160px 0px;}
	17.24137999999% {background-position: -160px 0px;}
	17.24138% {background-position: -160px -80px;}
	20.68965999999% {background-position: -160px -80px;}
	20.68966% {background-position: 0px -160px;}
	24.13792999999% {background-position: 0px -160px;}
	24.13793% {background-position: -80px -160px;}
	27.58620999999% {background-position: -80px -160px;}
	27.58621% {background-position: -160px -160px;}
	31.03447999999% {background-position: -160px -160px;}
	31.03448% {background-position: -240px 0px;}
	34.48275999999% {background-position: -240px 0px;}
	34.48276% {background-position: -240px -80px;}
	37.93102999999% {background-position: -240px -80px;}
	37.93103% {background-position: -240px -160px;}
	41.37930999999% {background-position: -240px -160px;}
	41.37931% {background-position: 0px -240px;}
	44.82758999999% {background-position: 0px -240px;}
	44.82759% {background-position: -80px -240px;}
	48.27585999999% {background-position: -80px -240px;}
	48.27586% {background-position: -160px -240px;}
	51.72413999999% {background-position: -160px -240px;}
	51.72414% {background-position: 0px 0px;}
	55.17240999999% {background-position: 0px 0px;}
	55.17241% {background-position: -320px 0px;}
	58.62068999999% {background-position: -320px 0px;}
	58.62069% {background-position: -320px -80px;}
	62.06896999999% {background-position: -320px -80px;}
	62.06897% {background-position: -320px -160px;}
	65.51723999999% {background-position: -320px -160px;}
	65.51724% {background-position: -320px -240px;}
	68.96551999999% {background-position: -320px -240px;}
	68.96552% {background-position: 0px -320px;}
	72.41378999999% {background-position: 0px -320px;}
	72.41379% {background-position: -80px -320px;}
	75.86206999999% {background-position: -80px -320px;}
	75.86207% {background-position: -160px -320px;}
	79.31033999999% {background-position: -160px -320px;}
	79.31034% {background-position: -240px -320px;}
	82.75861999999% {background-position: -240px -320px;}
	82.75862% {background-position: -320px -320px;}
	86.20689999999% {background-position: -320px -320px;}
	86.2069% {background-position: -400px 0px;}
	89.65516999999% {background-position: -400px 0px;}
	89.65517% {background-position: -400px -80px;}
	93.10344999999% {background-position: -400px -80px;}
	93.10345% {background-position: -400px -160px;}
	96.55171999999% {background-position: -400px -160px;}
	96.55172% {background-position: -400px -240px;}
	99.99999999999% {background-position: -400px -240px;}
	100% {background-position: -400px -320px;}
}