/*********************************/
/******** Class Helpers **********/
/*********************************/
.icon {
	display: inline-block;
}




/*********************************/
/*********** Modules *************/
/*********************************/
.houses {
	height: 100%; width: 100%;

	&.drop{
		display: flex; align-items: flex-start; position: relative;
		background: url(../img/backgrounds/ground.png) left top -290px repeat-x; background-size: 2700px auto;

		@media (max-height: 890px) {
			background: url(../img/backgrounds/ground.png) left top -360px repeat-x; background-size: 2700px auto;
		}

		@include respond-to(lg) {
			background: url(../img/backgrounds/ground.png) left top -340px repeat-x; background-size: 2600px auto;
		}
		@include respond-to(md) {
			background: url(../img/backgrounds/ground.png) left top -330px repeat-x; background-size: 2400px auto;
		}
		@include respond-to(sm) {
			background: url(../img/backgrounds/ground.png) left top -300px repeat-x; background-size: 2300px auto;
		}
		@include respond-to(xs) {
			background: url(../img/backgrounds/ground.png) left top -110px repeat-x; background-size: 1170px auto;
		}

		&:after {
			content: '';
			display: block; width: 100%; height: 60%; position: absolute; left: 0; bottom: 0; z-index: -1;
			background: #3f2610;

			@media (max-height: 540px) {
				height: 50%;
			} 
			@media (max-height: 480px) {
				height: 40%;
			}

			@media (max-height: 1200px) and (min-width: 1199px) {
				height: 30%;
			}
			@media (max-height: 920px) and (min-width: 1199px) {
				height: 50%;
			}
			@media (max-height: 820px) and (min-width: 1199px) {
				height: 40%;
			}
		}
	}

	&.background-ground {}

	.house-item {
		min-width: 410px; height: 470px; width: auto; padding: 0 30px; display: flex; flex-direction: column; align-items: center; justify-content: flex-end; flex-shrink: 0;

		@media (max-height: 890px) {
			height: 410px;
		}
		@include respond-to(sm) {
			height: 320px;
		}
		@include respond-to(xs) {
			height: 240px;
		}

		&:nth-child(2n) {
			padding: 0 30px 0 67px;

			section {
				.houses-images {
					img {
						transform: translateZ(12px);

						@include respond-to(xs) {
							transform: translateZ(0);
						}
					}
				}
			}
		}
		&:nth-child(3n) {
			padding: 0 230px 0 60px;

			@include respond-to(xs) {
				padding: 0 95px 0 80px;
			}

			section {
				.houses-images {
					img {
						transform: translateZ(-5px);

						@include respond-to(xs) {
							transform: translateZ(0);
						}
					}
				}
			}
		}
		&:nth-child(4n) {
			padding: 0 30px 0 128px;

			@include respond-to(xs) {
				padding: 0 15px 0 64px;
			}

			section {
				.houses-images {
					img {
						transform: translateZ(-10px);

						@include respond-to(xs) {
							transform: translateZ(0);
						}
					}
				}
			}
		}
		&:nth-child(5n) {
			padding: 0 26px 0 96px;

			section {
				.houses-images {
					img {
						transform: translateZ(16px);

						@include respond-to(xs) {
							transform: translateZ(0);
						}
					}
				}
			}
		}
		&:nth-child(6n+1) {
			padding: 0 145px 0 51px;

			@include respond-to(xs) {
				padding: 0 50px 0 12px;
			}

			section {
				.houses-images {
					img {
						transform: translateZ(-11px);

						@include respond-to(xs) {
							transform: translateZ(0);
						}
					}
				}
			}
		}
		&:nth-child(7n-3) {
			padding: 0 95px 0 158px;

			@include respond-to(xs) {
				padding: 0 40px 0 79px;
			}

			section {
				.houses-images {
					img {
						transform: translateZ(8px);

						@include respond-to(xs) {
							transform: translateZ(0);
						}
					}
				}
			}
		}

		@include respond-to(lg) {
			min-width: 360px; padding: 0 20px;
		}
		@include respond-to(md) {
			min-width: 320px; padding: 0 15px;
		}

		&:hover {
			footer {
				.houses-price {
					.info, .replace {
						transform: scale(1);				
					}
					.info {
						animation: houseButtonsBounce 0.3s 1 ease-out;	
					}
					.replace {
						transition: transform 0s 0.3s ease-out;
						animation: houseButtonsBounce 0.3s 0.3s 1 ease-out;	
					}
				}
			}
		}

		& > header {
			display: block; margin-bottom: 15px;

			@include respond-to(xs) {
				margin-bottom: 5px;
			}

			.houses-count { 
				display: flex; align-items: center; flex-direction: column;

				span {
					color: $white; font-size: 48px; font-family: $text; text-align: center; text-shadow: 1px 1px 0 #000;
					margin-bottom: 30px;

					@include respond-to(lg) {
						font-size: 42px;
						margin-bottom: 25px;
					}
					@include respond-to(md) {
						font-size: 36px;
						margin-bottom: 20px;
					}
					@include respond-to(sm) {
						font-size: 30px;
						margin-bottom: 15px;
					}
				}

				em {
					width: 80px; height: 80px; display: block; transform-origin: 0% 0%; transform: scale(0.625);
					background: url('../img/coin/coin_sprite.png') center center no-repeat;
					animation: coinRotateAnimation 1.2s linear infinite;

					@include respond-to(xs) {
						transform: scale(0.375);
					}
				}

				a {
					width: 50px; height: 50px;

					@include respond-to(xs) {
						width: 30px; height: 30px;
					}
				}
			}

			.footer-buttons {
				display: none;
			}
		}

		& > section {
			margin-bottom: 20px;

			@include respond-to(xs) {
				margin-bottom: 10px;
			}

			figure {
				display: none;
				
				&.houses-images {
					display: flex; align-items: center; justify-content: center;

					perspective: 100px;
				}

				&.draggable {
					display: none;
				}

				img {
					width: 180px;
					pointer-events: none;

					@include respond-to(lg) {
						width: 160px;
					}
					@include respond-to(md) {
						width: 140px;
					}
					@include respond-to(xs) {
						max-width: 120px; width: auto; max-height: 160px;
					}
				}
			}
		}

		& > footer {
			display: block;

			.footer-price {
				display: none;
			}

			.houses-price {
				display: flex; align-items: center; justify-content: center;

				.info, .replace {
					width: 34px; flex-shrink: 0; transform: scale(0);

					@include respond-to(md) {
						width: 35px;
					}

					img {
						width: 100%;
					}
				}

				.info {
					display: block; width: 30px; height: 30px; position: relative; flex-shrink: 0;
					background: #6ac6ff; box-shadow: 0 2px 0 0 #4990ad; border-radius: 50%; background-size: contain;
					transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;

					&:hover {
						transform: translateY(-2px);
						box-shadow: 0 4px 0 0 #4990ad;

						&:active {
							transform: translateY(2px);
							box-shadow: 0 0px 0 0 #4990ad;
						}
					}

					@include respond-to(xs) {
						width: 35px; height: 35px;
					}

					&:before {
						content: '';
						display: block; width: 100%; height: 50%; position: absolute; left: 0; bottom: 0; z-index: 1;
						background: #59bfff; border-radius: 0 0 100px 100px;
					}

					&:after {
						content: '';
						display: block; width: 65%; height: 65%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1) rotate(0deg); z-index: 2;
						background: url('../img/icons/info_btn.svg') center center no-repeat; background-size: contain;
						animation: settClose 0.5s 1 ease-in-out;
					}
				}

				.coins {
					color: $white; font-size: 24px; font-family: $text; text-align: center;
					display: inline-flex; align-items: center; padding: 7px; position: relative; padding-right: 42px; padding-left: 12px; width: 100%; margin: 0 10px;
					background: #59bfff; box-shadow: 0 2px 0 0 #4990ad; border-radius: 8px;
					transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;

					@include respond-to(md) {
						font-size: 26px;
						padding-top: 7px; padding-bottom: 7px;
					}

					&:hover {
						transform: translateY(-2px);
						box-shadow: 0 4px 0 0 #4990ad;

						&:active {
							transform: translateY(2px);
							box-shadow: 0 0px 0 0 #4990ad;

							&:after {
								box-shadow: 0 0px 0 0 #4abd26;
							}
						}

						&:after {
							box-shadow: 0 4px 0 0 #4abd26;
						}
					}

					&:after {
						content: '';
						display: block; width: 30px; height: 100%; position: absolute; right: 0; top: 0;
						background: #58ff3a url(../img/header/news/h_i_button_upg.svg) center center no-repeat; background-size: 18px auto; box-shadow: 0 2px 0 0 #4abd26; border-radius: 0 8px 8px 0;
						transition: box-shadow 0.1s ease-out;
					}

					img {
						width: 24px; margin-right: 7px;
					}
				}

				.replace {
					&:hover {
						cursor: grab;
					}
				}
			}
		}
	}
}

.house-item {
	width: 200px;

	header {
		display: none;
	}

	section {
		display: flex; align-items: center; justify-content: center;

		figure {
			display: none;

			&.draggable {
				display: block;
			}
		}
	}

	footer {
		display: none;
	}
}

.gu-mirror {
	display: flex; align-items: flex-end; justify-content: flex-end;
}

.sortable_placeholder{
    background: none !important;
}

// scrollbar
.scroll {

	&bar {
		width: 100%;
	}

	&-x, &-y {
		display: none; position: absolute;
		border: solid 2px #59bfff; border-radius: 100px;
		cursor: pointer; overflow: hidden;

		

		div {
			height: 100%;
			left: 0;
			top: 0;
			position: absolute;
			width: 100%;
		}

		.scroll-bar {
			background: #59bfff;
			z-index: 12;
		}
	}
	&-x {
		width: 1090px;

		&.scroll-scrollx_visible {
			display: block;
			height: 10px;
			left: 50%; transform: translate(-50%, 0);
			top: 560px;
			width: 1090px;

			@media (max-height: 890px) {
				top: 510px;
			}

			@include respond-to(lg) {
				width: 930px;
			}
			@include respond-to(md) {
				width: 710px;
			}
			@include respond-to(sm) {
				width: calc(100% - 30px);
			}
		}
	}
	&-y {
		height: 100px;
		display: none !important;
	}
}