/*********************************/
/******** Class Helpers **********/
/*********************************/
.icon {
	display: inline-block;
}




/*********************************/
/*********** Modules *************/
/*********************************/
.parallax {
	&-mountain,
	&-lake {
		bottom: 650px; z-index: -1;
		pointer-events: none;

		@include respond-to(lg) {
			bottom: 510px;
		}
		@media (max-height: 890px) {
			bottom: 510px;
		}
		@include respond-to(sm) {
			bottom: 460px;
		}
		@media (max-height: 759px) {
			bottom: 460px;
		}
		@media (max-height: 689px) {
			bottom: 400px;
		}
		@media (max-height: 615px) {
			bottom: 350px;
		}
		@include respond-to(xs) {
			bottom: 330px;
		}
		@media (max-height: 615px) and (max-width: 767px) {
			bottom: 310px;
		}
	}

	&-mountain {
		position: fixed; left: -1px; width: calc(100% + 52px);

		img {
			width: 100%;
		}
	}
	&-lake {
		position: fixed; left: -1px; width: calc(100% + 102px); transform: translateY(82.63158%);

		&:after {
			content: '';
			display: block; width: 100%; height: 100%; position: absolute; left: 0; bottom: 10px; transform: translateY(100%); z-index: -1;
			background: #8eccee;
		}

		img {
			width: 100%;
		}
	}
}

.houses {
	height: 100%; width: 100%;

	&.drop{
		display: flex; align-items: flex-end; position: relative; padding-bottom: 250px;
		background: url(../img/backgrounds/ground.png) left bottom -155px repeat-x; background-size: 2700px auto;
		overflow: hidden;
		transition: padding 0.4s ease-out, background-position 0.4s ease-out;

		@media (max-height: 890px) {
			padding-bottom: 250px;
			background: url(../img/backgrounds/ground.png) left bottom -85px repeat-x; background-size: 2300px auto;
		}
		@include respond-to(md) {
			padding-bottom: 230px;
			background: url(../img/backgrounds/ground.png) left bottom -105px repeat-x; background-size: 2300px auto;
		}
		@media (max-height: 759px) {
			background: url(../img/backgrounds/ground.png) left bottom -30px repeat-x; background-size: 1900px auto;
		}
		@media (max-height: 759px) and (max-width: 991px) {
			background: url(../img/backgrounds/ground.png) left bottom -50px repeat-x; background-size: 1900px auto;
		}
		@media (max-height: 689px) {
			padding-bottom: 220px;
			background: url(../img/backgrounds/ground.png) left bottom 25px repeat-x; background-size: 1500px auto;
		}
		@media (max-height: 689px) and (max-width: 767px) {
			padding-bottom: 180px;
			background: url(../img/backgrounds/ground.png) left bottom -15px repeat-x; background-size: 1500px auto;
		}
		@media (max-width: 480px) and (max-height: 759px) {
			background: url(../img/backgrounds/ground.png) left bottom -145px repeat-x; background-size: 1500px auto;
		}
		@media (max-width: 480px) and (max-height: 689px) {
			background: url(../img/backgrounds/ground.png) left bottom -190px repeat-x; background-size: 1500px auto;
		}
		@media (max-height: 615px) {
			padding-bottom: 160px;
			background: url(../img/backgrounds/ground.png) left bottom -55px repeat-x; background-size: 1500px auto;
		}
		@include respond-to(xs) {
			padding-bottom: 160px;
			background: url(../img/backgrounds/ground.png) left bottom -55px repeat-x; background-size: 1500px auto;
		}

		.margin & {
			padding-bottom: 100px;
			background: url(../img/backgrounds/ground.png) left bottom -305px repeat-x; background-size: 2700px auto;

			@media (max-height: 890px) {
				padding-bottom: 80px;
				background: url(../img/backgrounds/ground.png) left bottom -255px repeat-x; background-size: 2300px auto;
			}
			@include respond-to(md) {
				padding-bottom: 80px;
				background: url(../img/backgrounds/ground.png) left bottom -255px repeat-x; background-size: 2300px auto;
			}
			@media (max-height: 759px) {
				background: url(../img/backgrounds/ground.png) left bottom -180px repeat-x; background-size: 1900px auto;
			}
			@media (max-height: 689px) {
				padding-bottom: 50px;
				background: url(../img/backgrounds/ground.png) left bottom -145px repeat-x; background-size: 1500px auto;
			}
			@media (max-height: 615px) {
				padding-bottom: 50px;
				background: url(../img/backgrounds/ground.png) left bottom -165px repeat-x; background-size: 1500px auto;
			}
			@include respond-to(xs) {
				padding-bottom: 50px;
				background: url(../img/backgrounds/ground.png) left bottom -165px repeat-x; background-size: 1500px auto;
			}
		}

		&:after {
			content: none;
			display: block; width: 100%; height: 100%; position: absolute; left: 0; bottom: 0; transform: translateY(100%); z-index: -1;
			background: #3f2610;
			
			@media (max-height: 759px) {
				content: '';
			}
			@include respond-to(xs) {
				content: '';
			}

		}
	}

	&.background-ground {}

	.house-item {
		min-width: 410px; height: 470px; width: auto; padding: 0 30px; display: flex; flex-direction: column; align-items: center; justify-content: flex-end; flex-shrink: 0;

		@include respond-to(sm) {
			height: 350px;
		}
		@include respond-to(xs) {
			height: 230px; padding: 0 20px;
		}

		@media (max-height: 890px) {
			height: 350px;
		}
		@media (max-height: 759px) {
			height: 280px;
		}
		@media (max-height: 689px) {
			height: 240px;
		}
		@media (max-height: 615px) {
			height: 290px; padding: 0 20px;
		}

		&:nth-child(2n) {
			padding: 0 30px 0 67px;

			@media (max-height: 759px) {
				padding: 0 20px 0 42px;
			}
			@media (max-height: 615px) {
				padding: 0 10px 0 22px;
			}

			section {
				.houses-images {
					img {
						transform: translateZ(12px);

						@media (max-height: 615px) {
							transform: translateZ(0);
						}

						@include respond-to(xs) {
							transform: translateZ(0);
						}
					}
				}
			}
		}
		&:nth-child(3n) {
			padding: 0 230px 0 60px;

			@media (max-height: 759px) {
				padding: 0 150px 0 40px;
			}
			@media (max-height: 615px) {
				padding: 0 60px 0 40px;
			}

			@include respond-to(xs) {
				padding: 0 60px 0 40px;
			}

			section {
				.houses-images {
					img {
						transform: translateZ(-5px);

						@media (max-height: 615px) {
							transform: translateZ(0);
						}

						@include respond-to(xs) {
							transform: translateZ(0);
						}
					}
				}
			}
		}
		&:nth-child(4n) {
			padding: 0 30px 0 128px;

			@media (max-height: 759px) {
				padding: 0 20px 0 84px;
			}
			@media (max-height: 615px) {
				padding: 0 15px 0 44px;
			}

			@include respond-to(xs) {
				padding: 0 15px 0 64px;
			}

			section {
				.houses-images {
					img {
						transform: translateZ(-10px);

						@media (max-height: 615px) {
							transform: translateZ(0);
						}

						@include respond-to(xs) {
							transform: translateZ(0);
						}
					}
				}
			}
		}
		&:nth-child(5n) {
			padding: 0 26px 0 96px;

			@media (max-height: 759px) {
				padding: 0 16px 0 64px;
			}
			@media (max-height: 615px) {
				padding: 0 10px 0 40px;
			}

			section {
				.houses-images {
					img {
						transform: translateZ(16px);

						@media (max-height: 615px) {
							transform: translateZ(0);
						}

						@include respond-to(xs) {
							transform: translateZ(0);
						}
					}
				}
			}
		}
		&:nth-child(6n+1) {
			padding: 0 145px 0 51px;

			@media (max-height: 759px) {
				padding: 0 85px 0 37px;
			}
			@media (max-height: 615px) {
				padding: 0 50px 0 12px;
			}

			@include respond-to(xs) {
				padding: 0 50px 0 12px;
			}

			section {
				.houses-images {
					img {
						transform: translateZ(-11px);

						@media (max-height: 615px) {
							transform: translateZ(0);
						}

						@include respond-to(xs) {
							transform: translateZ(0);
						}
					}
				}
			}
		}
		&:nth-child(7n-3) {
			padding: 0 95px 0 158px;

			@media (max-height: 759px) {
				padding: 0 62px 0 105px;
			}
			@media (max-height: 615px) {
				padding: 0 40px 0 79px;
			}

			@include respond-to(xs) {
				padding: 0 40px 0 79px;
			}

			section {
				.houses-images {
					img {
						transform: translateZ(8px);

						@media (max-height: 615px) {
							transform: translateZ(0);
						}

						@include respond-to(xs) {
							transform: translateZ(0);
						}
					}
				}
			}
		}

		@include respond-to(lg) {
			min-width: 360px; padding: 0 20px;
		}
		@include respond-to(md) {
			min-width: 320px; padding: 0 15px;
		}

		&:hover {
			footer {
				.houses-price {
					.info, .replace {
						transform: scale(1);				
					}
					.info {
						animation: houseButtonsBounce 0.3s 1 ease-out;	
					}
					.replace {
						transition: transform 0s 0.3s ease-out;
						animation: houseButtonsBounce 0.3s 0.3s 1 ease-out;	
					}
				}
			}
		}

		& > header {
			display: block; margin-bottom: 15px;

			@include respond-to(xs) {
				margin-bottom: 5px;
			}

			.houses-count { 
				display: flex; align-items: center; flex-direction: column; position: relative;
				transition: opacity 0.4s ease-out, transform 0.4s ease-out;

				// @media (max-height: 615px) {
				// 	opacity: 0; pointer-events: none;
				// }

				// .margin & {
				// 	@media (max-height: 615px) {
				// 		opacity: 1; pointer-events: auto;
				// 	}
				// }

				&.hidden {
					transform: translateY(50px);
					opacity: 0; pointer-events: none;
				}

				&.collected {
					pointer-events: none;
					animation: getCoins_translate 0.4s 1 ease-out;
					span {
						animation: getCoins_opacity 0.4s 1 ease-out;
					}
					a {
						animation: getCoins_opacity 0.4s 1 ease-out;
						opacity: 0;
					}
				}

				span {
					color: $white; font-size: 28px; font-family: $text; text-align: center; text-shadow: 1px 1px 0 #000;
					position: absolute; left: 50%; top: -10px; transform: translate(-50%, -100%);
					opacity: 0;

					@media (max-height: 615px) {
						font-size: 24px;
						top: -5px;
					}

					@include respond-to(sm) {
						font-size: 30px;
						top: -15px;
					}
					@include respond-to(xs) {
						font-size: 24px;
						top: -5px;
					}
				}

				em {
					width: 80px; height: 80px; display: block; transform-origin: 0% 0%; transform: scale(0.625);
					background: url('../img/coin/coin.gif') center center no-repeat;
					// animation: coinRotateAnimation 1.2s linear infinite;

					@media (max-height: 759px) {
						transform: scale(0.375);
					}

					@include respond-to(xs) {
						transform: scale(0.375);
					}
				}

				a {
					width: 50px; height: 50px;

					@media (max-height: 759px) {
						width: 30px; height: 30px;
					}

					@include respond-to(xs) {
						width: 30px; height: 30px;
					}
				}
			}

			.footer-buttons {
				display: none;
			}
		}

		& > section {
			margin-bottom: 20px;

			&.adv {
				display: none !important;
			}

			@media (max-height: 615px) {
				margin-bottom: 5px;
			}

			@include respond-to(xs) {
				margin-bottom: 5px;
			}

			figure {
				display: none;
				
				&.houses-images {
					display: flex; align-items: center; justify-content: center;

					perspective: 100px;
				}

				&.draggable {
					display: none;
				}

				img {
					width: 180px;
					pointer-events: none;

					@media (max-height: 890px) {
						width: 160px;
					}
					@media (max-height: 759px) {
						width: 120px;
					}
					@media (max-height: 689px) {
						width: 100px;
					}
					@media (max-height: 615px) {
						max-width: 100px; width: auto; max-height: 140px;
					}

					@include respond-to(lg) {
						max-width: 160px;
					}
					@include respond-to(md) {
						max-width: 140px;
					}
					@include respond-to(xs) {
						max-width: 120px; width: auto; max-height: 160px;
					}
				}
			}
		}

		& > footer {
			display: block;

			.footer-price {
				display: none;
			}

			.houses-price {
				display: flex; align-items: center; justify-content: center;

				.info, .replace {
					width: 34px; flex-shrink: 0; transform: scale(0);

					img {
						width: 100%;
					}
				}

				.info {
					display: block; width: 30px; height: 30px; position: relative; flex-shrink: 0;
					background: #6ac6ff; box-shadow: 0 2px 0 0 #4990ad; border-radius: 50%; background-size: contain;
					transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;



					&:hover {
						transform: translateY(-2px);
						box-shadow: 0 4px 0 0 #4990ad;

						&:active {
							transform: translateY(2px);
							box-shadow: 0 0px 0 0 #4990ad;
						}
					}

					&:before {
						content: '';
						display: block; width: 100%; height: 50%; position: absolute; left: 0; bottom: 0; z-index: 1;
						background: #59bfff; border-radius: 0 0 100px 100px;
					}

					&:after {
						content: '';
						display: block; width: 65%; height: 65%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) scale(1) rotate(0deg); z-index: 2;
						background: url('../img/icons/info_btn.svg') center center no-repeat; background-size: contain;
						animation: settClose 0.5s 1 ease-in-out;
					}
				}

				.coins {
					color: $white; font-size: 24px; font-family: $text; text-align: center;
					display: inline-flex; align-items: center; padding: 7px; position: relative; padding-right: 42px; padding-left: 12px; width: 100%; margin: 0 10px;
					background: #59bfff; box-shadow: 0 2px 0 0 #4990ad; border-radius: 8px;
					transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;

					@media (max-height: 615px) {
						font-size: 20px;
						padding-top: 4px; padding-bottom: 4px;
					}

					&:hover {
						transform: translateY(-2px);
						box-shadow: 0 4px 0 0 #4990ad;

						&:active {
							transform: translateY(2px);
							box-shadow: 0 0px 0 0 #4990ad;

							&:after {
								box-shadow: 0 0px 0 0 #4abd26;
							}
						}

						&:after {
							box-shadow: 0 4px 0 0 #4abd26;
						}
					}

					&:after {
						content: '';
						display: block; width: 30px; height: 100%; position: absolute; right: 0; top: 0;
						background: #58ff3a url(../img/header/news/h_i_button_upg.svg) center center no-repeat; background-size: 18px auto; box-shadow: 0 2px 0 0 #4abd26; border-radius: 0 8px 8px 0;
						transition: box-shadow 0.1s ease-out;
					}

					img {
						width: 24px; margin-right: 7px;
					}
				}

				.replace {
					&:hover {
						cursor: grab;
					}
				}
			}
		}
	}
}

.house-item {
	width: 200px;

	header {
		display: none;
	}

	section {
		display: flex; align-items: center; justify-content: center;

		figure {
			display: none;

			&.draggable {
				display: block;

				img {
					@media (max-height: 890px) {
						width: 160px;
					}
					@media (max-height: 759px) {
						width: 120px;
					}
					@media (max-height: 689px) {
						width: 100px;
					}
					@media (max-height: 615px) {
						max-width: 100px; width: auto; max-height: 140px;
					}

					@include respond-to(lg) {
						max-width: 160px;
					}
					@include respond-to(md) {
						max-width: 140px;
					}
					@include respond-to(xs) {
						max-width: 120px; width: auto; max-height: 160px;
					}
				}
			}
		}

		&.adv {
			display: none;
		}
	}

	footer {
		display: none;
	}
}

.gu-mirror {
	display: flex; align-items: flex-end; justify-content: flex-end;
}

.sortable_placeholder{
    background: none !important;
}

// scrollbar
.scroll {

	&bar {
		width: 100%;
	}

	&-x, &-y {
		display: block; position: absolute;
		border: solid 2px #59bfff; border-radius: 100px;
		cursor: pointer; overflow: hidden;
		opacity: 0; pointer-events: none;


		div {
			height: 100%;
			left: 0;
			top: 0;
			position: absolute;
			width: 100%;
		}

		.scroll-bar {
			background: #59bfff;
			z-index: 12;
		}
	}
	&-x {
		width: 1090px;
		transition: bottom 0.4s ease-out;
		height: 10px;
		left: 50%; transform: translate(-50%, 0);
		bottom: 225px;

		@include respond-to(lg) {
			width: 930px;
		}
		@media (max-height: 890px) {
			bottom: 225px;
		}
		@media (max-height: 689px) {
			bottom: 180px; height: 6px;
		}
		@include respond-to(md) {
			width: 710px; bottom: 210px;
		}
		@media (max-width: 991px) and (max-height: 689px) {
			bottom: 205px;
		}
		@include respond-to(sm) {
			bottom: 190px; width: calc(100% - 30px);
		}
		@media (max-width: 767px) and (max-height: 689px) {
			bottom: 140px;
		}
		@media (max-height: 615px) {
			bottom: 110px;
		}
		@include respond-to(xs) {
			bottom: 110px;
		}

		&.scroll-scrollx_visible {
			opacity: 1; pointer-events: auto;
		}

		.margin & {
			bottom: 40px;

			@media (max-height: 689px) {
				bottom: 30px;
			}
			@media (max-height: 615px) {
				bottom: 25px;
			}
			@include respond-to(xs) {
				bottom: 25px;
			}
		}
	}
	&-y {
		height: 100px;
		display: none !important;
	}
}

// odometer
.odometer {
	&-formatting {
		&-mark {
			color: transparent;
			position: relative;

			&:after {
				content: '.';
				color: #000000;
				position: absolute; left: 0; bottom: 0;
			}
		}
	}
}