.app {
	min-width: 320px; height: 100%; position: relative; z-index: 1; padding: 0; display: flex; align-items: center; justify-content: flex-end; flex-direction: column;
	// background: url('../img/backgrounds/mountain.png') center center no-repeat; background-size: cover;
	background: #61d5ff;
	overflow: hidden;

	@media (max-height: 480px) {
		height: 480px;
	}
	
	&.blured {
		filter: blur(3px);
	}

	&.active-settings, &.active-news {
		.wr-header {
			z-index: 10;
		}
	}

	// &:after {
	// 	content: '';
	// 	display: block; width: 100%; height: 100%; position: absolute; left: 0; bottom: 0; z-index: 2;
	// 	background: url('../img/backgrounds/ground.png') center bottom repeat-x; background-size: 1800px auto;
	// 	pointer-events: none;
	// }

	&.tutorial {
		.wr-footer {
			z-index: 9;
		}

		.first-tutorial {
			pointer-events: auto; opacity: 1;
		}
	}

	.wr {
		&-header, &-houses, &-footer {
			z-index: 5; position: relative;
		}


		&-header {
			z-index: 6; width: 100%; position: absolute; left: 50%; top: 20px; transform: translateX(-50%);

			@media (max-height: 615px) {
				top: 5px;
			}
		}

		&-houses {
			height: 100%; max-height: 100%; padding: 0; display: flex; align-items: flex-end; width: 100%;
			overflow-x: auto; overflow-y: hidden;
			transition: height 0.4s ease-out;
			
			.container {
				height: 100%;
			}

			.scroll-wrapper {
				height: 100%;

				& > .scroll-content {
					max-height: none !important;
				}
			}

			&.margin {
				a.scroll-button {
					bottom: 250px;

					@media (max-height: 890px) {
						bottom: 180px;
					}
					@include respond-to(md) {
						bottom: 180px;
					}
					@media (max-height: 689px) {
						bottom: 150px;
					}
					@media (max-height: 615px) {
						bottom: 150px;
					}
					@include respond-to(xs) {
						bottom: 150px;
					}
				}
			}

			a.scroll-button {
				position: absolute; bottom: 400px; display: block; z-index: 5; transform: translateY(-50%);
				transition: bottom 0.4s ease-out;

				@media (max-height: 890px) {
					bottom: 330px;
				}
				@include respond-to(md) {
					bottom: 310px;
				}
				@include respond-to(sm) {
					width: 40px;
				}
				@media (max-height: 689px) {
					bottom: 310px;
				}
				@media (max-height: 689px) and (max-width: 767px) {
					bottom: 280px;
				}
				@media (max-height: 615px) {
					bottom: 240px; width: 40px;
				}
				@include respond-to(xs) {
					bottom: 240px;
				}

				&.disabled {
					display: none;
				}

				&.inactive {
					pointer-events: none;
				}

				&.left {
					left: 10px;

					@include respond-to(xs) {
						left: 5px;
					}
				}

				&.right {
					right: 10px;

					@include respond-to(xs) {
						right: 5px;
					}

					img {
						transform: rotate(180deg);
					}
				}

				img {
					max-width: 100%;
					pointer-events: none;
				}
			}
		}
		
		&-footer {
			position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 100%); transform-origin: 50% 100%;
			background: #ebebeb; border-radius: 10px;
			transition: 0.4s ease-out;

			@media (max-height: 615px) {
				bottom: 0;
			}

			@include respond-to(sm) {
				width: calc(100% - 30px);
			}
			@include respond-to(xs) {
				width: calc(100% - 10px);
			}

			&.active {
				transform: translate(-50%, -10px);

				@media (max-height: 615px) {
					transform: translate(-50%, -5px);
				}

				a.footerShowHide {
					
					&:before {
						top: 5px;
					}
					&:after {
						top: auto; bottom: 20px;
						border-bottom: none; border-top: 5px solid #59bfff;

						@media (max-height: 615px) {
							bottom: 30px;
						}

						@include respond-to(md) {
							bottom: 30px;
						}
					}
				}
			}

			a.footerShowHide {
				position: absolute; left: 50%; top: -20px; width: 40px; height: 40px; transform: translateX(-50%);
				background: #ebebeb; border-radius: 100px;
				transition: 0.4s ease-out;

				@media (max-height: 615px) {
					width: 60px; height: 40px; top: -15px;
				}

				@include respond-to(md) {
					width: 60px; height: 40px; top: -15px;
				}

				&:before {
					content: '';
					display: block; width: 5px; height: 10px; position: absolute; left: 50%; top: 7px; transform: translateX(-50%);
					background: #59bfff;

					@media (max-height: 615px) {
						content: none;
					}

					@include respond-to(md) {
						content: none;
					}
				}
				&:after {
					content: '';
					display: block; position: absolute; left: 50%; top: 3px; transform: translateX(-50%);
					border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid #59bfff;

					@media (max-height: 615px) {
						border-left-width: 8px; border-right-width: 8px; border-bottom-width: 8px; top: 5px;
					}

					@include respond-to(md) {
						border-left-width: 8px; border-right-width: 8px; border-bottom-width: 8px; top: 5px;
					}
				}
			}
		}
	}
}