.app {
	min-width: 320px; height: 100vh; position: relative; z-index: 1; padding: 95px 0 0; display: flex; align-items: center; justify-content: space-between; flex-direction: column;
	background: url('../img/backgrounds/mountain.png') center center no-repeat; background-size: cover;
	overflow: hidden;

	// &:after {
	// 	content: '';
	// 	display: block; width: 100%; height: 100%; position: absolute; left: 0; bottom: 0; z-index: 2;
	// 	background: url('../img/backgrounds/ground.png') center bottom repeat-x; background-size: 1800px auto;
	// 	pointer-events: none;
	// }

	.wr {
		&-header, &-houses, &-footer {
			z-index: 5; position: relative;
		}


		&-header {
			z-index: 6; width: 100%; position: absolute; left: 50%; top: 20px; transform: translateX(-50%);
		}

		&-houses {
			height: 100%; max-height: 100%; padding: 40px 0 0; display: flex; width: 100%;
			overflow-x: auto; overflow-y: hidden;
			transition: margin 0.4s ease-out;

			&.margin {
				margin-top: 120px;

				@include respond-to(xs) {
					margin-top: 80px;
				}
			}

			@include respond-to(sm) {
				padding-top: 10px;
			}
			
			.container {
				height: 100%;
			}

			.scroll-wrapper {
				& > .scroll-content {
					max-height: none !important; height: 100% !important;
				}
			}

			a.scroll-button {
				position: absolute; top: 200px; display: block; z-index: 5;

				&.disabled {
					display: none;
				}

				&.inactive {
					pointer-events: none;
				}

				&.left {
					left: 10px;
				}

				&.right {
					right: 10px;

					img {
						transform: rotate(180deg);
					}
				}
			}
		}
		
		&-footer {
			position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 100%); transform-origin: 50% 100%;
			background: #ebebeb; border-radius: 10px;
			transition: 0.4s ease-out;

			@include respond-to(sm) {
				width: calc(100% - 30px); bottom: 30px;
			}
			@include respond-to(xs) {
				bottom: 15px; width: calc(100% - 10px);
			}

			&.active {
				transform: translate(-50%, -10px);

				@include respond-to(md) {
					transform: translate(-50%, -10px);
				}

				a.footerShowHide {
					
					&:before {
						top: 5px;
					}
					&:after {
						top: auto; bottom: 20px;
						border-bottom: none; border-top: 5px solid #59bfff;
					}
				}
			}

			a.footerShowHide {
				position: absolute; left: 50%; top: -20px; width: 40px; height: 40px; transform: translateX(-50%);
				background: #ebebeb; border-radius: 100px;
				transition: 0.4s ease-out;

				@include respond-to(xs) {
					width: 60px; height: 40px; top: -20px;
				}

				&:before {
					content: '';
					display: block; width: 5px; height: 10px; position: absolute; left: 50%; top: 7px; transform: translateX(-50%);
					background: #59bfff;

					@include respond-to(md) {
						content: none;
					}
				}
				&:after {
					content: '';
					display: block; position: absolute; left: 50%; top: 3px; transform: translateX(-50%);
					border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid #59bfff;

					@include respond-to(md) {
						border-left-width: 8px; border-right-width: 8px; border-bottom-width: 8px; top: 5px;
					}
				}
			}
		}
	}
}