/****** Fonts ******/
// Fruits Cyr
// $text: fruits, sans-serif;

// Roboto Condensed
$text: robotocondensed-regular, sans-serif;
$header: robotocondensed-bold, sans-serif;

/****** Colors *****/
$white: white;